/* Colors used */
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
}

/* Global styles */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: blue;
}

span h1 {
  color: darkblue;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #fafafa;
}

a:visited {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #f8f7f5;
  color: #2b2b2b;
}

/* ... Other styles ... */

/* Media query for screens with max-width 600px */
@media only screen and (max-width: 600px) {
  /* Adjust mobile styles here */
  .page-header_item:last-child {
    text-align: center;
  }

  .navigation-list {
    text-align: center;
  }

  .navigation-list li {
    display: block;
    margin: 10px 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 22px;
  }
}
